/*  Add your styling here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
  font-size: 18px;
}
.navbar {
  display: none;
}

.hamburger {
  position: relative;
  display: flex;
  padding: 0.5em;
}

.hamburger-image {
  position: absolute;
  right: 0%;
  bottom: 10px;
  height: 45px;
  width: 50px;
}
.hamburger-text {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  position: absolute;
  right: 0%;
  top: 50px;
}

.cakes-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.cakes-images div {
  height: 528px;
  width: 48%;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.cake-1 {
  background-image: url("images/california-cake.jpg");
}

.cake-2 {
  background-image: url("images/cheesecake.jpg");
}

.cake-3 {
  background-image: url("images/strawberry-cake.jpg");
}
.cake-4 {
  background-image: url("images/surprise-cake.jpg");
}

/*Media Queries */
@media screen and (min-width: 540px) {
  .hamburger-image {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .cakes-images div {
    height: 528px;
    width: 20%;
    
  }
}
